## Problem 4 (*optional*) - Parsing daily temperatures

**This is an optional task for those who want more practice.**

This problem is more challenging as we provide only minimal instructions for completing the given tasks. You will need to search through the pandas documentation (and other resources) for help. We will cover data aggregation in more detail during Lesson 6, so this is a good opportunity to get a head start for next week!

In this problem, the aim is to aggregate the hourly temperature data for Helsinki Kumpula and Rovaniemi weather stations to the daily level. Currently, there are (at most) 3 measurements per hour in the data as you can see from the `YR--MODAHRMN` column (Year-Month-Day-Hour-Minute in Greenwich Mean Time (GMT):

```
    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1
```

The output should contain mean, max, and min Celsius temperatures for each day (for example, one mean temperature value for the 1st of May and so on).

### What to do

- Your task is to summarize the information for each day by aggregating (grouping) the DataFrame.
- The output should be a new DataFrame where you have calculated the mean, max, and min Celsius temperatures for each day separately based on hourly values.
- Repeat the task for the two data sets you created in Problem 2 (May-August temperatures from Rovaniemi and Kumpula).

Don't forget to:

- Include useful comments in your code
- Push your solution to GitHub

### Hint

You can find help from the [Pandas Official documentation](https://pandas.pydata.org/pandas-docs/stable/) and Google. Don't hestiate to ask for tips in Slack!

In [24]:

import pandas as pd

In [27]:
# load both dataframe
kumpula_df = pd.read_csv('data/Kumpula_temps_May_Aug_2017.csv')

rovaniemi_df= pd.read_csv('data/Rovaniemi_temps_May_Aug_2017.csv')

In [42]:
# convert YR--MODAHRMN to datetime format
kumpula_df['YR--MODAHRMN'] = pd.to_datetime(kumpula_df['YR--MODAHRMN'], format='%Y%m%d%H%M')

rovaniemi_df['YR--MODAHRMN'] = pd.to_datetime(rovaniemi_df['YR--MODAHRMN'], format='%Y%m%d%H%M')

In [50]:
# extract the date and time and hour components into separate columns
kumpula_df['date'] = kumpula_df['YR--MODAHRMN'].dt.date
kumpula_df['time'] = kumpula_df['YR--MODAHRMN'].dt.time
kumpula_df['hour'] = kumpula_df['YR--MODAHRMN'].dt.hour

rovaniemi_df['date'] = rovaniemi_df['YR--MODAHRMN'].dt.date
rovaniemi_df['time'] = rovaniemi_df['YR--MODAHRMN'].dt.time
rovaniemi_df['hour'] = rovaniemi_df['YR--MODAHRMN'].dt.hour

In [56]:
# Group the data by date
kumpula_daily = kumpula_df.groupby(['date','hour'])['Celsius'].agg(['mean', 'max', 'min'])
rovaniemi_daily = rovaniemi_df.groupby(['date','hour'])['Celsius'].agg(['mean', 'max', 'min'])

# Print the results
print("Kumpula daily temperatures:")
print(kumpula_daily.head(8))

print("Rovaniemi daily temperatures:")
print(rovaniemi_daily.head(8))

Kumpula daily temperatures:
                 mean   max   min
date       hour
2017-05-01 0     2.78  2.78  2.78
           1     2.78  2.78  2.78
           2     2.78  2.78  2.78
           3     2.78  2.78  2.78
           4     3.89  3.89  3.89
           5     5.00  5.00  5.00
           6     6.67  6.67  6.67
           7     7.22  7.22  7.22
Rovaniemi daily temperatures:
                     mean   max   min
date       hour
2017-05-01 0    -0.926667 -0.56 -1.11
           1    -0.926667 -0.56 -1.11
           2    -0.926667 -0.56 -1.11
           3    -0.926667 -0.56 -1.11
           4    -0.926667 -0.56 -1.11
           5    -0.926667 -0.56 -1.11
           6    -0.926667 -0.56 -1.11
           7    -0.740000  0.00 -1.11